html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url(https://bogatyr.club/uploads/posts/2023-03/thumbs/1679229911_bogatyr-club-p-bukhgalterskii-fon-foni-pinterest-17.jpg) 0 0/100% 100% no-repeat;
}
* {
  box-sizing: border-box;
}
